[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Emerald Theme Manager
Name[ca]=Gestor de temes de l'Emerald
Name[de]=Emerald Motiv Manager
Name[es]=Gestor de temas del Emerald
Name[fr]=Gestionnaire de thèmes Emerald
Comment=Configure Emerald themes
Comment[ca]=Configureu els temes de l'Emerald
Comment[de]=Konfiguriert Emerald Motive
Comment[es]=Configura los temas del Emerald
Comment[fr]=Configurerer les options des thèmes Emerald
Icon=emerald-theme-manager-icon
Terminal=false
Categories=Settings;DesktopSettings;
MimeType=application/x-emerald-theme;

