autom4te.cache/*
*.in
*.creator.user*
config.guess
config.h.in*
config.sub
configure
depcomp
compile
install-sh
ltmain.sh
m4/*
!m4/boost.m4
missing
aclocal.m4
emerald.creator
emerald.files
emerald.config
emerald.includes
